.indexPageWrap {
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    position: relative;
    :global {
        .mainSpin {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 99999;
        }
        .mainSpinHide {
            display: none;
        }
        .searchTopBar{
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 999;
            width: 100%;
            box-sizing: border-box;
            padding: 0px 10px ;
            height: 45px;
            background-color: #fff;
            .am-search {
            background-color: #fff !important;
                .am-search-input {
                    border: 1px solid #c4c1bf;
                    border-radius: 20px;
                }
            }
        }
        .noticeIcon{
            display: block;
            position: fixed;
            bottom: 254.5px;
            left: 8px;
            font-size: 16px;
            z-index: 1000;
            color: #f76a24;
            fill: #f76a24;
        }
        .functionalBtnCon {
            position: fixed;
            bottom: 120px;
            z-index: 999;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 0px 10px 0px 10px;
        }
        .onlineBar {
            position: fixed;
            bottom: 250px;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 24px;
            line-height: 24px !important;
            background-color: rgba(225, 250, 250, 0);
            .am-notice-bar-content {
                margin: 0px !important;
                .am-notice-bar-marquee-wrap  {
                    display: block;
                    background-color: rgba(225, 250, 250, 0.459);
                    .am-notice-bar-marquee {
                        padding-left: 15px;
                    }
                }
                
            }
        }
        .onlineBarHidden {
            position: fixed;
            bottom: 250px;
            left: 0;
            width: 100%;
            height: 24px;
            z-index: 999;
            line-height: 24px !important;
            background-color: rgba(225, 250, 250, 0);
            .am-notice-bar-content {
                margin: 0px !important;
                .am-notice-bar-marquee-wrap  {
                    display: none;
                    background-color: rgba(225, 250, 250, 0.459);
                    .am-notice-bar-marquee {
                        padding-left: 15px;
                    }
                }
                
            }
        }
        
        // 地图
        #allmap {
            width: 100%;
            height: 600px;
            overflow: hidden;
            margin: 0;
        }
    }
}